<form  #form="ngForm" [formGroup] = "searchForm"  (ngSubmit)="search($event);">
  <div fxLayout="row">
    <div fxFlex="90">
      <mat-form-field style="width: 100%">
        <input 
          matTextareaAutosize 
          matInput placeholder="Search"  
          formControlName="query" 
          type="text" 
          id="query" 
          autocomplete="off">
      </mat-form-field>
    </div>
    <div class = "searchbutton"fxFlex="10">
      <button mat-icon-button  color= primary [disabled] = "searchForm.value.query.length==0" >Search</button>
    </div>
  </div>
</form>  