.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .logo {
    height: 10px;
    width: 5px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.mdl-layout__header {
    height: 64px;
    background-color: rgb(79, 111, 144);
  }

  .mdl-layout__header-row {
    padding: 0 40px 0 16px;
  }
  