.loader-progress {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  top: 0;
  left: 0;
}

.loader-progress>.loading {
  margin: 0 auto;
}

.example-card {
    max-width: 100%;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.thumbnail{
    height:200px;
    width:100%;
}